@import url("http://fnt.webink.com/wfs/webink.css/?project=9D14C09E-7042-43DD-A9DA-C02EAAB54F03&fonts=58DEFEBD-4A55-477B-3C13-525C6AEBDD7A:f=ProximaNova-Regular,C88A28DF-0112-63D9-25D2-A4EA08DAF75B:f=ProximaNova-Light");

body, input, button, select {
  font-family: 'ProximaNova-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
}
.block.container {
  margin: 0 auto 0 auto;
  padding: 160px 130px 160px 130px;
  width: 680px;
}
.block h1 {
  font-family: "ProximaNova-Light";
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 30px;
}
.block.container input {
  border-radius: 8px 0 0 8px !important;
  width: 564px;
  font-family: "ProximaNova-Light";
  font-size: 20px !important;
  line-height: 25px;
  padding: 18px 14px 18px 14px !important;
}
.block.container button {
  font-family: "ProximaNova-Light";
  font-size: 20px !important;
  padding: 18px 14px 18px 14px !important;
  border-radius: 0 8px 8px 0 !important;
}
.bottom {
  position: absolute;
  text-align: center;
  margin: 0 auto 0 auto;
  width: 670px;
  bottom: 10px;
}
.bottom p {
  color: #cacaca;
  font-size: 14px;
  line-height: 14px;
}
.bottom a {
  color: #aaa;
}
.top {
  width: 100%;
  background: #c40000;
  background-image: -webkit-linear-gradient(top, #dd0000 0, #aa0000 100%);
  background-image: linear-gradient(top, #dd0000 0, #aa0000 100%);
  padding: 7px 0 4px 0;
  min-width: 940px;
  border-bottom: 4px solid #990000;
}
#top-link .top {
  cursor: pointer;
}
.top h1 {
  font-weight: normal;
  text-align: center;
  font-size: 22px;
  line-height: 22px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#citation {
  word-break: normal;
  word-wrap: normal;
  background: #fff;
  color: #333;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 20px;
  white-space: pre;
  white-space: pre-wrap;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.main {
  padding: 46px 0 30px 0;
}
.controls-row select {
  margin-right: 20px;
}
.controls-row .btn {
  float: left;
  width: 114px;
  margin-left: 20px;
}
.controls-row {
  margin-bottom: 2px;
}
.source {
  margin-bottom: 28px;
}
#top-link, #top-link:visited, #top-link:active, #top-link:hover {
  text-decoration: none;
  outline: none;
}
.instructions {
  font-size: 14px;
  margin-left: 12px;
}
.modal-header h3 {
  font-weight: normal;
}
.modal-footer {
  background: #fff;
}